---
import { Icon } from 'astro-icon/components';
import IconArray from './icons/IconArray.astro';
import LinkIcon from './icons/LinkIcon.astro';

interface Props {
    videos: {
        src: string,
        title: string,
        poster: string,
        icons: string[],
        href?: string,
    }[]
}

let { videos } = Astro.props;

---

<script is:inline>
    var triggerVideo = (event) => {
        let video = event.target.parentElement.querySelector("video")
        video.setAttribute("controls", "controls")
        video.play()
        if (video.requestFullscreen) {
            video.requestFullscreen();
        } else if (video.webkitRequestFullscreen) {
            video.webkitRequestFullscreen();
        } else if (video.msRequestFullscreen) {
            video.msRequestFullscreen();
        }
        event.target.style.display='none';
    }
</script>

<div>
    <div class="gallery">
        {videos.map((video) => {
            return <div class="item">
                <div class="header">
                    <div class="title">
                        {video.title} {video.href ? <a target="_blank" href={video.href}><LinkIcon /></a> : null}
                    </div>
                </div>
                <div class="video">
                    <div class="play-container" onclick="triggerVideo(event)">
                        <div class="play">
                            <Icon name="bi:play-fill" size={38} />
                        </div>
                    </div>
                    <video poster={video.poster} preload="none">
                        <source src={video.src} type="video/mp4" />
                    </video>
                </div>
                <div class="footer">
                    <IconArray icons={video.icons} size={18} />
                </div>
            </div>
        })}
    </div>
</div>

<style>
    .gallery {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
        gap: 20px 50px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 4px;
    }
    .footer {
        padding: 8px 4px;
    }
    .title {
        font-size: 1.2rem;
    }

    .video {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .video video {
        border-radius: 5px;
        height: 240px;
        width: 100%;
    }

    .video video[poster] {
        object-fit: cover;
    }

    .play-container {
        inset: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        cursor: pointer;
    }

    .play {
        border-radius: 1000rem;
        width: 4rem;
        height: 4rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-body);
        pointer-events: none;
    }
</style>